POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=healthcare_agent

API_KEY=<your_api_key_here>
BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/